/* Google Font CDN Link */

:root {
  --font-color: #fcfdfe;
  --background-color:#f3f5f5;
  --dark-color:#212529;
  --primary-color: #063f5a;
  --secondary-color: #11222a;
 
  /* --primary-color: #11101d;
  --secondary-color: #1d1b31; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  background-color: var(--background-color);
}

.btn-primary{
  background-color: var(--primary-color);
}

/* ::selection {
  color: var(--font-color);
  background: var(--primary-color);
} */

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 77px;
  background: var(--primary-color);
  padding: 6px 14px;
  z-index: 1000;
  transition: all 0.5s ease;
}

.sidebar.active {
  width: 269px;
}

.sidebar .logo_content .logo {
  color: var(--font-color);
  display: flex;
  height: 50px;
  width: 100%;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease;
}

.sidebar.active .logo_content .logo {
  opacity: 1;
  pointer-events: none;
}

.logo_content .logo i {
  font-size: 28px;
  margin-right: 5px;
}

.logo_content .logo .logo_name {
  font-size: 20px;
  font-weight: 400;
}

.sidebar #btn {
  position: absolute;
  color: var(--font-color);
  top: 6px;
  left: 50%;
  font-size: 22px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}

.sidebar.active #btn {
  left: 90%;
}

.sidebar ul {
  margin-top: 20px;
}

.sidebar ul li {
  position: relative;
  height: 50px;
  width: 100%;
  margin: 0 5px;
  list-style: none;
  line-height: 50px;
  margin: 5px 0;
}

.sidebar ul li .tooltip {
  position: absolute;
  left: 165px;
  top: 0;
  transform: translate(-50%, -50%);
  border-radius: 6px;
  height: 35px;
  width: 200px;
  background: var(--font-color);
  line-height: 35px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: 0s;
  opacity: 0;
  pointer-events: none;
  display: block;
}

.sidebar.active ul li .tooltip {
  display: none;
}

.sidebar ul li:hover .tooltip {
  transition: all 0.5s ease;
  opacity: 1;
  top: 50%
}

.sidebar ul li input {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  border-radius: 12px;
  outline: none;
  border: none;
  background: var(--secondary-color);
  padding-left: 50px;
  font-size: 18px;
  color: var(--font-color);
}

.sidebar ul li .bx-search {
  position: absolute;
  z-index: 99;
  color: var(--font-color);
  font-size: 22px;
  transition: all 0.5 ease;
}

.sidebar ul li .bx-search:hover {
  background: var(--font-color);
  color: #1d1b31;
}

.sidebar ul li a {
  color: var(--font-color);
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 12px;
  white-space: nowrap;
  transition: all 0.4s ease;
}

.sidebar ul li a:hover {
  color: var(--primary-color);
  background: var(--font-color);
}

.sidebar ul li i {
  font-size: 18px;
  font-weight: 400;
  height: 50px;
  min-width: 50px;
  border-radius: 12px;
  line-height: 50px;
  text-align: center;
}

.sidebar .links_name {
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.sidebar.active .links_name {
  transition: 0s;
  opacity: 1;
  pointer-events: auto;
  transition: all 0.5s ease;
}

.content {
  position: absolute;
  /* height: 100%; */
  width: calc(100% - 78px);
  left: 78px;
  background: var(--background-color);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2px);
  transition: all 0.5s ease;
}

.sidebar.active~.content {
  z-index: 100;
}

.sidebar.active~.content {
  width: calc(100% - 270px);
  left: 270px;
}

.sidebar_secondary {
  background-color: var(--background-color);
  height: auto;
  width: inherit;
  z-index: 1000;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2px);
}

.profile_img {
  border-radius: 50%;
  width: 55px;
  height: 55px;
  object-fit: cover;
  border: 4px solid var(--primary-color);
}

.notification {
  color: var(--primary-color);
  margin-right: 0.5em;
}

.pageContent {
  width: 100%;
  height: 100%;
  margin-top: 79px;
  background-color: var(--background-color);
}

.pagina{
  height: inherit;
}

.background-primary{
  background: var(--primary-color);
}

.background-bg-color{
  background-color:var(--background-color);
}

.accordion-button:not(.collapsed){
  background-color: var(--primary-color);
  color: var(--font-color);
}

.accordion-button:not(.collapsed)::after {
  background-image: none;
}

/* Reset de estilos */
  

.btn-primary , .btn-primary:focus {
  color: var(--font-color);
  background-color: var(--primary-color);
  border-color: var(--secondary-color);
}

.btn-primary:hover  {
  background: var(--secondary-color);
}

ul {
  padding: 0;
}


.btn-primary, .color-primary{
  background-color: var(--primary-color);
} 

.fuente-color-primary{
  color: var(--primary-color);
}

/* ::selection {
  color: var(--font-color);
  background: var(--primary-color);
} */
.position-relative .btn{
  margin-bottom: 1rem;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  color:var(--font-color);
  background-color: var(--primary-color);

}
.nav-link{
  color:var(--dark-color)
}
.nav{
  flex-wrap: nowrap;
}

.form-check-input:checked {
  background-color:var(--primary-color) ;
  border-color:var(--primary-color);
}

.table-primary-color {
  background-color: var(--primary-color);
  color:var(--font-color);
  border: none;
}

.container-table-overflow{
  height: calc(100vh - 190px);
}

#pedidoEstudios .container-table-overflow{
  height: calc(100vh - 232px);
}
.thead-fixed,.tabs-fixed{
  position: sticky;
  z-index: 900;
  top: 0px;
  padding: 1em 0;
}

.tabs-fixed{
  top: 69px;
  background: var(--background-color);
}

.comentarios .list-group-item {
  background-color: #00000014;
  border: 1px solid #00000074;
}

.img-opacity{
  background: #00000081;
  padding: 59px 0;
}

#listaAdjuntos .row .card{
  min-width: 130px;
}

#alertContainer{
  width:calc(100% - 1em);
  z-index:1000 ;
  position: fixed;
  top:0;
  margin:auto;
}
#logoSection{
  animation: fadeIn ease 4s;
  
  
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

@media only screen and (max-width: 767px) {
  #logoSection .spinner-border{
    width: 1.2em;
    height: 1.2em;
  }

  .content, .sidebar.active~.content {
    width: 100%;
    left: 0;
  }
  
  .sidebar ,.sidebar.active{
    position: fixed;
    top: auto;
    bottom: 0;
    height: auto;
    width: 100%;
    padding: 0;
    background: var(--primary-color);
  }

  .sidebar ul li .tooltip {
    display: none;
  }
  .sidebar ul {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .sidebar ul li {
    width: auto;
  }

  .sidebar ul li i {
    height: auto;
    font-size: 1.6rem;
  }
  .sidebar .links_name{
    display: none;
  }

  .position-relative .btn{
    margin-bottom: calc(60px + 1rem);
  }

  .pageContent {
    margin-bottom: 60px;
  }
}
