<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="../bootstrap-5.0.1-dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Document</title>
</head>
<body>
    
    <div class="container-fluid color-primary vh-100 d-flex justify-content-center  align-items-center ">
       <div class="row h-100 align-items-end" id="logoSection">
            <div class="col-12">

                <h1 class="display-1 text-white text-center">Melical</h1>    
            </div>
           <div class="d-flex col-12 justify-content-center">
               
               <div class="spinner-border text-light mb-4" role="status">
                   <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
</body>
</html>